In [14]:
import pandas as pd
df=pd.read_csv('spam.csv')
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [15]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [16]:
df['spam']=df['Category'].apply(lambda x: 1 if x=='spam' else 0)
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
x=df.Message
y=df.spam

In [19]:
x_train, x_test, y_train, y_test=train_test_split(x, y, train_size=0.75)

### To extract a set of words from a documents

In [20]:
from sklearn.feature_extraction.text import CountVectorizer

In [28]:
v=CountVectorizer()
x_train_count=v.fit_transform(x_train.values)
x_train_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

Naive Base has three types of classifiers they are:
* Bernoulli Naive Bayes
* Multinomial Navie Bayes
* Gaussian Naive Bayes

**Bernoulli Naive Bayes:**
* It assumes that all our features are binary such that they take only two values. Means 0's can rerpresent"Words doesnot occur in the document" and 1's as "word occurs in the document".

**Multinomial Naive Bayes:**
* It is used when we have **discrete data**(e.g. movie ratings ranging 1 to 5 as rating will have certain frequncy to represent). In text learning we have the count of each word to predict the class or label.

**Gaussian Naive Bayes:**
* Because of the assumption of the **normal distribution** Gaussian Naive Bayes is used in cases when all our features are **continuous**. For example in **Iris Dataset** features are sepal width, petal width, sepal length, petal length. So its features can have different values in dataset as width and lenth can vary. We can't represent  features in terms of their occurrences. This means data is continuous. Hence we use Gaussian bayes here.

### Using Multinomial Naive Bayes:

In [23]:
from sklearn.naive_bayes import MultinomialNB

In [25]:
model=MultinomialNB()
model.fit(x_train_count, y_train)

MultinomialNB()

In [26]:
emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 1], dtype=int64)

In [30]:
x_test_count=v.transform(x_test)
model.score(x_test_count, y_test)

0.9856424982053122

### Using Sklearn PipeLine Model

Writing the above same using simple api

In [31]:
from sklearn.pipeline import Pipeline

In [34]:
clf=Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())
])

In [35]:
clf.fit(x_train, y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [36]:
clf.score(x_test, y_test)

0.9856424982053122

In [37]:
clf.predict(emails)

array([0, 1], dtype=int64)